/* app css stylesheet */
.hoverwell:hover {
  background-color: #283E4A;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}